<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>


    <target name="log"
    xsi:type="File"
    layout="${longdate} [${threadid}] ${level:uppercase=true} ${message} ${exception:format=tostring}"
    fileName="${basedir}/logs/log.txt"
    archiveFileName="${basedir}/logs/log.{#####}.txt"
    archiveAboveSize="10000000"
    maxArchiveFiles="2"
    archiveNumbering="Sequence"
    concurrentWrites="true"
    createDirs="true"
    keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="log" />
  </rules>
</nlog>
